@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
.btn-warning:hover {
  color: white !important;
  background-color: black !important;
}
.col-11 .row {
  display: flex;
  justify-content: space-around;
}

.item1 {
  box-shadow: 4px 4px 10px 10px rgba(118, 111, 111, 0.2);
  border-radius: 10px;
}

.img-fluid {
  height: 100% !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.item1 .row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.item-inside {
  height: 100%;
}

.main-title h1 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px 10px;
}
.price-book-divide {
  margin-bottom: 10px;
  padding: 0px 10px;
}
.price-book-divide h2 {
  font-size: 20px;
  font-weight: 400;
  color: #4db6ac;
}
.item-desc p {
  padding: 0px 10px;
}

.btn-primary {
  background-color: #4db6ac !important;
  border: none !important;
  outline: none !important;
  transition: all 0.3s ease-in-out !important;
}
.btn-primary:hover {
  background-color: #00695c !important;
  border: none !important;
  outline: none !important;
}
.btn-primary:focus {
  box-shadow: none !important;
}

@media (max-width: 1600px) {
  .col-xl-4 {
    width: 31% !important;
  }
}
@media (max-width: 1200px) {
  .col-xl-4 {
    width: 31% !important;
  }
}
@media (max-width: 992px) {
  .col-lg-4 {
    width: 48% !important;
  }
  .img-fluid {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
@media (max-width: 768px) {
  .col-md-6 {
    width: 100% !important;
  }
  .img-fluid {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
